body{
    padding: 10px;
    animation: bg-pan-left 5s linear infinite both;
}
@keyframes bg-pan-left {
    0% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

#logo{
    display: flex;
    justify-content: center;
    padding: 5px;
    border: 1px solid black;
    width: 75px;
    height: 75px;
    margin: auto;
    background-color: blueviolet;
    border-radius: 50%;
    text-align: center;

    /* Animations */
    animation: scale-down-center 2s ease-in reverse both;
}
@keyframes scale-down-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
}

.header{
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 10px;

    /* Animation */
    animation: tracking-in-contract-bck-bottom 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@keyframes tracking-in-contract-bck-bottom {
    0% {
      letter-spacing: 1em;
      transform: translateZ(400px) translateY(300px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      transform: translateZ(0) translateY(0);
      opacity: 1;
    }
}
  

.para{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-bottom: 60px;
    /* Animation */
    animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@keyframes text-focus-in {
    0% {
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      filter: blur(0px);
      opacity: 1;
    }
}  


.btn{
    padding: 10px 0;
    display: flex;
    justify-content: center;
    width: 20%;
    height: 20%;
    margin: auto;
    /* border: 1px solid black; */
}

span{
    background-color: aqua;
    padding: 3px 10px;
}

h1{
    text-transform: capitalize;
    text-align: center;
}

button{
    height: 40px;
    width: 150px;
    background-color: blueviolet;
    border-radius: 8%;
    cursor: pointer;
    /* Animation */
    animation: bounce-top 2s both;
}
@keyframes bounce-top {
    0% {
      transform: translateY(-45px);
      animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      transform: translateY(-24px);
      animation-timing-function: ease-in;
    }
    65% {
      transform: translateY(-12px);
      animation-timing-function: ease-in;
    }
    82% {
      transform: translateY(-6px);
      animation-timing-function: ease-in;
    }
    93% {
      transform: translateY(-4px);
      animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      transform: translateY(0px);
      animation-timing-function: ease-out;
    }
    100% {
      transform: translateY(0px);
      animation-timing-function: ease-out;
      opacity: 1;
    }
}
  

button:hover{
    background-color: aliceblue;
    border: 2px solid black;
    text-transform: uppercase;
}